<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta content="text/html; charset={charset}" http-equiv="Content-Type" />
<style type="text/css">
body{ 
	font: 12px/16px Arial, Helvetica, Tahoma, sans-serif;
	margin: 0; padding: 0;
	color: #1f282c; word-wrap: break-word;
}
a { color: #fff; text-decoration: underline; }
a:hover { text-decoration: none; }
.errorwrap { margin: 0 auto; width: 600px; margin-top: 10%; text-align: center; }
.errorwrap p { margin: 0 0 15px 0; }

</style>
<title>Сайт временно отключен</title>
</head>
<body>
<div align="center" class="errorwrap">
	<p>{reason}</p>
	<p>
		<noindex>
		<a class="twitter-timeline" href="https://twitter.com/tcsecms" data-widget-id="426987062743400448">Твиты пользователя @tcsecms</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</noindex>
	</p>
	
</div>
</body>
</html>